body{
	font-family:'Montserrat',sans-serif;
	margin:0;
	
	font-size:15px;
	line-height:1.6;
	color:#333;
}
.container1{
		WIDTH:100%;
	max-width:100%;
	margin:0 auto;
	background-color:#000;
	height:100px;
	
}
.container{
	WIDTH:100%;
	max-width:1200px;
	margin:0 auto;
	height:100px;
	
}


.header{
	width:100%;

	
	position:absolute;
	top:0;
	left:0;
	right:0;

}
.header_inner{
	display:flex;
	justify-content:space-between;
	align-items:center;
	
}


.header_logo{
	font-size:30px;
	font-weight:700;
	color:#fff
}
.nav{
	font-size:14px;
	text-transform:uppercase;
}

.nav_link{
	display:inline-block;
	vertical-align:top;
	margin:0 15px;
	position:relative;
	
	color:#fff;
	text-decoration:none;
	
	transition:color .2s linear;
}

.nav_link:after{
content:"";	
display:block;
width:100%;
height:3px;


background-color:#FFC51F;
opacity:0;

position:absolute;
	top:100%;
	left:0;
	z-index:1;
	
	transition: opacity .1s;
}

.nav_link:hover{
	color:#FFC51F;
}
.nav_link:hover:after{
	opacity:1;
	display:block;
}

.blog{
	position:absolute;
	left:15%;
	top:100px;
	width:100%;
	
	max-width:70%;

	margin:0 auto;
	
}
.topics {
	padding:20px;
	display:flex;
	justify-content:space-between;
flex-direction:row;
flex-wrap:wrap;
}
.topics_item{

margin:10px;
	width:30%;
	font-size:20px;
	font-weight:700;
	color:#333;
text-decoration:none;
}

.item_content{
	font-size:15px;
	font-weight:300;
}



















