body{
	font-family:'Montserrat',sans-serif;
	margin:0;
	
	font-size:15px;
	line-height:1.6;
	color:#333;
}
.container1{
		WIDTH:100%;
	max-width:100%;
	margin:0 auto;
	background-color:#000;
	height:100px;
	
}
.container{
	WIDTH:100%;
	max-width:1200px;
	margin:0 auto;
	height:100px;
	
}


.header{
	width:100%;

	
	position:absolute;
	top:0;
	left:0;
	right:0;

}
.header_inner{
	display:flex;
	justify-content:space-between;
	align-items:center;
	
}


.header_logo{
	font-size:30px;
	font-weight:700;
	color:#fff
}
height:100px;
}
.container{
width:100%;
max-width:1200px;
margin:0 auto;
height:100px;
}

.header{
width:100%;

position:absolute;
top:0;
left:0;
right:0;
}
.header_inner{
display:flex;
justify-content:space-between;
align-item:center;
}
.header_logo{
font-size:30px;
font-weight:700;
color:#fff;
}
.nav{
font-size:14px;
text-transform:uppercase;
}
.nav_link{
display:inline-block;
vertical-align:top;
margin:0 15px;
position:relative;

color:#fff;
text-decoration:none;
transition: color .2s linear;
}

.nav_link:after{
content:"";
display:block;
width:100%;

height:3px;

background-color:#FFC51F;
opacity:0;

position:absolute;
top:100%;
left:0;
z-index:1;

transition:opacity .1s;
}

.nav_link:hover{
color:#FFC51F
}
.nav_link:hover:after{
opacity:1;
display:block;
}

.container2{
	position:absolute;
	left:25%;
	top:100px;
	width:100%;
	height:450px;
	max-width:50%;
  

	margin:0 auto;
}
.text{
    float:left; /* Выравнивание по левому краю */
    margin: 0 10px 10px 0; /* Отступы вокруг картинки */
   
}
.mein{
	display:flex;
	flex-direction:row;	justify-content:space-between;
	position:absolute;
	left:25%;
	top:725px;
	width:100%;
	height:550px;
	max-width:50%;
   
}

.art{
	position :absolute ;
	left:40%;
	top:655px;
	font-size:30px;
	font-weight:700;
	
}

.links{
		display:flex;
	color:#000;
	text-decoration:none;
}




