body{
	font-family:'Montserrat',sans-serif;
	
	margine:0;
	
	font-size:15px;
	line-height:1.6;
	color:#333;
}
h1,h2,h3{
	margin:0;

}


.container{
	Width:100%;
	max-width:1200px;
	margin:0 auto;
}
/*INTRO*/
.intro{
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:100%;
	height:100vh;
	margin:0;
	text-align:center;
	
	background:url('https://img1.goodfon.ru/wallpaper/nbig/2/ae/krasivyy-vid-solnechnyy-svet.jpg')no-repeat center ;
    background-size:cover;
}

.intro_inner{
	width:100%;
	max-width:800px;
	margin:0 auto;
    
}

.intro_title{
	color:#fff;
	font-size:150px;
	font-weight:700;
	text-transform:uppercase;
	
	line-height:1;
}

.intro_title:after{
	content:"";
	display: block;
	width:60px;
	height:3px;
	margin: 60px auto ;
	
	
	background-color:#fff;
}

/*header*/

.header{
	width:100%;
	padding-top:30px;
	
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:1000;
}
.header_inner{
	display:flex;
	justify-content:space-between;
	align-items:center;
	
}


.header_logo{
	font-size:30px;
	font-weight:700;
	color:#fff
}


/*Navigation*/
.nav{
	font-size:14px;
	text-transform:uppercase;
}

.nav_link{
	display:inline-block;
	vertical-align:top;
	margin:0 15px;
	position:relative;
	
	color:#fff;
	text-decoration:none;
	
	transition:color .2s linear;
}

.nav_link:after{
content:"";	
display:block;
width:100%;
height:3px;


background-color:#2A0057;
opacity:0;

position:absolute;
	top:100%;
	left:0;
	z-index:1;
	
	transition: opacity .1s;
}

.nav_link:hover{
	color:#AE61FF;
}
.nav_link:hover:after{
	opacity:1;
	display:block;
}

/*Button*/
.btn{
	display:inline-block;
	vertical-align:top;
	padding:8px 30px;
	
	border:2px solid #fff;
	
	font-size:14px;
	font-weight:700;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	
	transition:background .1s linear, color .1s linear;
	 
}
.btn:hover{
	background:#fff;
	color:#333;
}

/*section*/
.section{
  padding:80px 0;	
	
}
.section_header{
	margin:0 auto 40px;
	width:100%;
	max-width:950px;
	
	text-align :center;
	
}

.section_suptitle{
	font-size:24px;
	color:#333;
	
}
.section_title{
		font-size:30px;
		font-weight:700;
	    color:#333;
		text-transform:uppercase;
}
.section_title:after{
	content:"";
	display:block;
	width:60px;
	height:3px;
	margin: 40px auto 30px;
	
	background-color:#FF2814;
}
.section_text{
	font-size:15px;
	color:#999
}

/*about*/

.about{
	display:flex;
	justify-content:center;
	text-align:center;
	
}

.about_item{
	width:30%;
	font-size:30px;
		font-weight:700;
	    color:#333;
		text-decoration:none;
}















