body{
	font-family:'Montserrat',sans-serif;
	margin:0;
	
	font-size:15px;
	line-height:1.6;
	color:#333;
}
.container1{
		WIDTH:100%;
	max-width:100%;
	margin:0 auto;
	background-color:#000;
	height:100px;
	
}
.container{
	WIDTH:100%;
	max-width:1200px;
	margin:0 auto;
	height:100px;
	
}


.header{
	width:100%;

	
	position:absolute;
	top:0;
	left:0;
	right:0;

}
.header_inner{
	display:flex;
	justify-content:space-between;
	align-items:center;
	
}


.header_logo{
	font-size:30px;
	font-weight:700;
	color:#fff
}
height:100px;
}
.container{
width:100%;
max-width:1200px;
margin:0 auto;
height:100px;
}

.header{
width:100%;

position:absolute;
top:0;
left:0;
right:0;
}
.header_inner{
display:flex;
justify-content:space-between;
align-item:center;
}
.header_logo{
font-size:30px;
font-weight:700;
color:#fff;
}
.nav{
font-size:14px;
text-transform:uppercase;
}
.nav_link{
display:inline-block;
vertical-align:top;
margin:0 15px;
position:relative;

color:#fff;
text-decoration:none;
transition: color .2s linear;
}

.nav_link:after{
content:"";
display:block;
width:100%;

height:3px;

background-color:#FFC51F;
opacity:0;

position:absolute;
top:100%;
left:0;
z-index:1;

transition:opacity .1s;
}

.nav_link:hover{
color:#FFC51F
}
.nav_link:hover:after{
opacity:1;
display:block;
}
.blog-container{ 

background:#fafafa;
border-radius:5px;
box-shadow:rgba(0,0,0,0.2)0 4px 2px -2px;
font-weight:300;
margin:100px auto;
width:50rem;
}
.blog-container a:hover{
	border-color:#ff4d4d;
	color:#ff4d4d;
}
.blog-cover{
	background:url('http://first-go.com/wp-content/uploads/2014/08/Mini2.jpg');
	background-size:cover;
	border-radius:5px 5px 0 0;
	height:15rem;
	box-shadow:inset rgba(0,0,0,0.2)0 64px 64px 16px;
}
.blog-body{
	margin:0 auto;
	width:80%;
}
.blog-title h1 a{
	color:#4d4d4d;
	text-decoration:none;
}
.blog-tags ul {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	list-style:none;
	padding-left:0;
}
.blog-tags li+li{
	margin-left:0.5rem;
}
.blog-tags a{
	border:1px solid #999999;
	border-radius:3px;
	color:#999999;
	font-size:0.75rem;
	height:1.5rem;
	line-height:1.5rem;
	letter-spacing:1px;
	text-align:center;
	text-transform:uppercase;
	white-space:nowrap;
	width:5px;
	
}
.blog-footer{
	border-top:1px solid #e6e6e6;
	margin : 0 auto;
	padding-bottom:.125rem;
	width:80%;
}
.blog-footer ul {
	list-style:none;
	display:flex;
	flex:row wrap;
	justify-content:flex-end;
	padding-left:0px;
	
}
.blog-footer li{
	color:#999999;
    font-size:0.75rem;
text-align:center;
text-transform:uppercase;
position:relative;
white-space:nowrap;
	
}
.published-date{
	border:1px solid #999999;
	border-radius:3px;
	padding:0 0.5 rem ;
	
}






